# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
dbt-core
dbt-bigquery
python-dotenv
sqlalchemy
google-cloud-storage
google-cloud-bigquery
pandas
pyarrow
apache-airflow-providers-google
pytz
